<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title th:text="${title}">Detalles</title>
</head>
<body>
  <h1 th:text="${title}">Hola Mundo Spring Boot</h1>
  <ul>
    <li th:text="${user.name}">Nombre</li>
    <li th:text="${user.lastname}">Apellido</li>
    <li th:if="${user.email}" th:text="${user.email}">Email</li>
    <li th:if="${(user.email == null)}" th:text="${'No tiene email'}">Email</li>
  </ul>
</body>
</html>